.header {
  z-index: 3;
  background: #6adce4;
  color: black;
  position: sticky;
  top: 0;
  font-family: Open Sans,sans-serif;
  box-shadow: 0 4px 6px -2px #808080;
}

.lang-button {
  border: 0px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background: white;
  &:focus {
    outline: none;
  }
}
.active-button {
  border: 1px solid #808080;
}
