@import "vars";
@import "typography";

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  color: black;
  font-family: Gilroy,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Helvetica,Arial,sans-serif;
  }

.main-bg {
  color: white;
  height: 700px;
  width: 100%;
  background: url("../../assets/images/12.jpg") center center no-repeat;
  background-size: cover;
}

.main-bg-2 {
  background: url("../../assets/images/12.jpg") center center no-repeat;
  background-size: cover;
}


.right-element {
  width: 50%;
  right: 0px;
  top: 0px;
  height: 450px;
  background: url("../../assets/images/334.jpg") center center no-repeat;
  background-size: contain;

}
.donate {
  height: 400px;
}

.showButton {
  padding: 12px;
  background: black;
  border: none;
  color: white;
  box-shadow: 10px 10px 5px #3a7d80;
}

@media screen and (max-width: 768px) {
  .right-element, .description {
    width: 100%;
  }
}

.fw-800 {
  font-weight: bold;
}

.font--sim-sun {
  font-family: $sim_sun;
}

.font--verdana {
  font-family: $verdana;
}

.font--sitka {
  font-family: $sitka;
}

.text-center {
  text-align:center !important
}
.text-left {
  text-align: left !important;
}

.fill_w {
  width: 100%;
}

.fill_h {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
}

.vh_100 {
  height: 100vh;
}

.vw_100 {
  width: 100vw;
}

// Setting positions
$position_prefix: 'pos';
@each $cur_position in $positions {
  .#{$position_prefix}_#{$cur_position} {
    position: $cur_position;
  }
}

// Setting specific color
$colors_prefix: 'color';
@each $key, $value in $colors {
  // example: color_red
  .#{$colors_prefix}_#{$key} {
    color: $value;
  };
  // example: color_red--hover
  .#{$colors_prefix}_#{$key}--hover:hover {
    color: $value;
  };
  // example: color_red__bg
  .#{$colors_prefix}_#{$key}__bg {
    background-color: $value;
  };
  // example: color_red__bg--hover
  .#{$colors_prefix}_#{$key}__bg--hover:hover {
    background-color: $value;
  };

  .#{$colors_prefix}_#{$key}__scrollbar {
    &::-webkit-scrollbar {
      height: 4px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 360px;
      background-color: rgba( $value, .3);
    }
  }
}
