.slider {
  padding: 40px;
  &--img {
      height: 150px;
      width: 150px;
      border-radius: 100%;
    }
}
.team-slider {
  color: black;
}

.slick-prev {
  left: 0px!important;
}
.slick-next {
  right: 0px!important;
}
